<md-toolbar class="md-priary">
  <div class="md-toolbar-tools">
    <h2 class="md-flex">Qando</h2>
  </div>
</md-toolbar>
<div layout="row" flex>
  <md-sidenav flex md-component-id="left" class="md-sidenav-left" md-is-locked-open="true">
    <md-list>
      <md-list-item>
        {{AppCtrl.user.email}}
      </md-list-item>
      <md-list-item ng-click="AppCtrl.logout()">
        Logout
      </md-list-item>
    <md-list/>
  </md-sidenav>
  <md-content flex ui-view layout="column"></md-content>
</div>
